article {
	margin: 25px;
	width: 640px;
	float: left;
	font-family: helvetica;
	font-size: 14px;
}

article h1.primary {
	margin-top: 0;
}

article pre {
	background-color: #eee;
	padding: 5px;
}

article pre code {
	font-family: Monaco, monospace;
	font-size: 12px;
}

div#sidebar {
	margin: 25px 25px 25px 0;
	padding: 0 0 0 25px;
	border-left: 1px solid #aaa;
	float: left;
}

div.edit-buttons {
	font-size: 14px;
	font-weight: normal;
	font-family: monaco, monospace;
}

div.edit-buttons a, div.edit-buttons a:visited {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

div.edit-buttons a:hover {
	color: rgb(0, 125, 250);
}

div.edit-buttons a.disabled, div.edit-buttons a.disabled:visited {
	color: rgb(220, 220, 220);
	text-decoration: none;
}

div.edit-buttons a.disabled:hover {
	color: rgb(220, 220, 220);
}

div.edit-buttons span.js-saved-message {
	
}

div.modal {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 25px;
	background-color: white;
	/*-webkit-box-shadow: 0px 0px 15px 2px rgb(150, 150, 200);*/
}

div.modal div.title {
	margin: 25px 0;
}

div.modal div.title input {
	width: 628px;
	border: 1px solid #aaa;
	outline: none;
	padding: 5px;
}

div.modal .editor {
	border: 1px solid #aaa;
	font-size: 12px;
	font-family: monaco, monospace;
	outline: none;
	padding: 5px;
	width: 628px;
}

div.modal .buttons {
	margin-top: 25px;
	font-size: 10px;
	font-weight: normal;
	font-family: monaco, monospace;
}

div.modal .buttons a, div.modal .buttons a:visited {
	color: rgb(0, 100, 200);
	text-decoration: none;
	cursor: pointer;
}

div.modal .buttons a:hover {
	color: rgb(0, 125, 250);
}

div.visibility h2 {
	margin-bottom: 0;
}

div.visibility label {
	font-size: 14px;
}

ul.history {
	margin: -1em 0 1em 0;
	padding: 0;
}

ul.history li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}